<nav id="my-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div id="navPanel">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Розклад в КНТЕУ</a>
      <button type="button" class="navbar-toggle collapsed "
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <tt-socialicons></tt-socialicons>
    </div>
  </div>
</nav>

