<ul class="nav navbar-nav navbar-right" style="padding: 10px 10px;">
  <li>
    <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/s/knteu/top">
      <i class="fa fa-google-plus"></i>
    </a>
  </li>
  <li>
    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/KNTEU/?fref=ts"><i
      class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/school/15099038/"><i
      class="fa fa-linkedin"></i></a>
  </li>
  <li>
    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/infoKNTEU"><i
      class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/user/kyotostreet"><i
      class="fa fa-youtube"></i></a>
  </li>
<!--
  <li>
    <a class="btn bt n-social-icon btn-link" href="mailto:admin@knteu.kiev.ua"><i class="glyphicon glyphicon-envelope"></i></a>
    &lt;!&ndash;<a class="btnbtn-social-icon btn-link" href="mailto:admin@knteu.kiev.ua"><i class="fa fa-envelope-o fa-envelope-square"></i></a>&ndash;&gt;
  </li>
-->
</ul>
